Repository nestsolutionsllc/nest-hr: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier

Eslint rule in precommit hook (#10)
  .eslintrc.js
  .gitignore
  .husky/pre-commit
  .lintstagedrc
  .prettierrc
  backend/package.json
  backend/src/app.ts
  backend/src/controller/movieControllers.ts
  backend/src/queries/movieService.ts
  backend/src/routes/movieRouter.ts
  backend/src/server.ts
  backend/tests/app.test.ts
  backend/tests/routes/movieService.test.ts
  package.json
  tsconfig.json
Due: eslint, prettier

feat: disable commit on main branch
  .husky/pre-commit
Due: none

feat: prevent new branch
  .husky/pre-receive
Due: none

feat: test
  .lintstagedrc
Due: none

feat: validation for branch nam
  .husky/pre-commit
Due: none

11 Pre-commit hooks to prevent commit to main and locally created branches (#14)
  .husky/pre-commit
Due: none

docs: updated pre-commit hook information
  CONTRIBUTING.md
  docs/images/create-branch.png
Due: prettier

docs: updated pre-commit hook information (#16)
  CONTRIBUTING.md
  docs/images/create-branch.png
Due: prettier

feat: yarn workspaces
  package.json
Due: prettier

feat: yarn workspaces (#20)
  package.json
Due: prettier

docs: add readme in frontend
  frontend/README.md
Due: prettier

feat: Front-end eslint error fixed
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Loader.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/index.ts
  frontend/src/layouts/MainLayout.tsx
  frontend/src/layouts/index.ts
  frontend/src/pages/_app.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/signIn.tsx
  frontend/src/providers/AlertProvider.tsx
  frontend/src/providers/AuthProvider.tsx
  frontend/src/providers/index.ts
  frontend/src/theme/theme.ts
  package-lock.json
Due: eslint, prettier

feat: configure workpace settings
  .vscode/settings.json
Due: prettier

refactor: rebased from develop branch
  .prettierrc
Due: prettier

feat: configure workpace settings (#26)
  .prettierrc
  .vscode/settings.json
Due: prettier

fix: prettierrc and settings.json difference
  .vscode/settings.json
  backend/src/controller/movieControllers.ts
  backend/src/routes/movieRouter.ts
  backend/src/server.ts
  backend/tests/routes/movieService.test.ts
  frontend/__tests__/index.test.tsx
  frontend/src/components/Loader.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/index.ts
  frontend/src/enums/constants.ts
  frontend/src/layouts/MainLayout.tsx
  frontend/src/layouts/index.ts
  frontend/src/pages/_app.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/signIn.tsx
  frontend/src/providers/AuthProvider.tsx
  frontend/src/providers/index.ts
  frontend/src/theme/index.ts
  frontend/src/theme/theme.ts
  tsconfig.json
Due: eslint, prettier

fix: prettierrc and settings.json difference (#28)
  .vscode/settings.json
  backend/src/controller/movieControllers.ts
  backend/src/routes/movieRouter.ts
  backend/src/server.ts
  backend/tests/routes/movieService.test.ts
  frontend/__tests__/index.test.tsx
  frontend/src/components/Loader.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/index.ts
  frontend/src/enums/constants.ts
  frontend/src/layouts/MainLayout.tsx
  frontend/src/layouts/index.ts
  frontend/src/pages/_app.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/signIn.tsx
  frontend/src/providers/AuthProvider.tsx
  frontend/src/providers/index.ts
  frontend/src/theme/index.ts
  frontend/src/theme/theme.ts
  tsconfig.json
Due: eslint, prettier

feat: added ladder graph
  frontend/package.json
  frontend/src/components/Ladder.tsx
  frontend/src/components/LadderDescriptions.tsx
  frontend/src/pages/index.tsx
Due: eslint, prettier

chore: changed backend run script also added dev script in root folder
  README.md
  backend/package.json
  backend/src/server.ts
  package.json
Due: eslint, prettier

feat: added okt accordion and okr page
  frontend/src/components/okr/Accordion.tsx
  frontend/src/pages/okr/index.tsx
Due: eslint

feat: added ladder information section
  .vscode/settings.json
  frontend/src/components/Ladder.tsx
  frontend/src/components/LadderDescriptions.tsx
  frontend/src/components/LadderInformation.tsx
  frontend/src/pages/index.tsx
Due: eslint, prettier

feat: New SideBar Component
  frontend/next.config.js
  frontend/package.json
  frontend/src/assets/pinecone.png
  frontend/src/assets/svgs/BackIcon.svg
  frontend/src/assets/svgs/ChevronRight.svg
  frontend/src/assets/svgs/ticket.svg
  frontend/src/components/NewSideBar.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/index.ts
  frontend/src/hooks/useWindowSize.tsx
  frontend/src/layouts/MainLayout.tsx
  frontend/src/pages/_app.tsx
  frontend/src/pages/finance.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/tickets.tsx
  frontend/src/pages/tickets/[slug].tsx
  frontend/src/styles/globals.css
Due: eslint, prettier

fix: main layout bug fixed
  frontend/src/pages/_app.tsx
  frontend/src/pages/profile.tsx
Due: eslint

feat: Updated SideBar
  frontend/src/components/Sidebar.tsx
  frontend/src/layouts/MainLayout.tsx
  frontend/src/pages/ticketing/daily.tsx
  frontend/src/styles/globals.css
Due: eslint

ci: testing ansible actions to deployment
  .github/workflows/backend-pr.yml
  ansible.cfg
  backend/README.md
  hosts/staging
  preview.yml
  tasks/code.yml
Due: prettier

ci: testing new action
  .github/workflows/backend-pr.yml
  ansible.cfg
Due: prettier

fix: fix mainlayout in index file
  frontend/src/pages/index.tsx
Due: eslint

ci: testing new pem
  .github/workflows/backend-pr.yml
  id_hr
Due: prettier

feat: added user modal component in user profile page
  frontend/src/components/index.ts
  frontend/src/components/usermodal.tsx
  package-lock.json
  package.json
Due: eslint, prettier

feat: create sidebar in user profile & structure of other related sections
  frontend/public/assets/userprofile/person.svg
  frontend/src/components/userprofile/Achievement.tsx
  frontend/src/components/userprofile/Ladder.tsx
  frontend/src/components/userprofile/Onboard.tsx
  frontend/src/components/userprofile/Salary.tsx
  frontend/src/components/userprofile/VerticalTabs.tsx
  frontend/src/pages/profile.tsx
Due: eslint

feat: create sidebar in user profile & structure of other sections
  frontend/src/components/userprofile/Achievement.tsx
  frontend/src/components/userprofile/Ladder.tsx
  frontend/src/components/userprofile/Onboard.tsx
  frontend/src/components/userprofile/Salary.tsx
  frontend/src/components/userprofile/VerticalTabs.tsx
  frontend/src/layouts/MainLayout.tsx
  frontend/src/pages/profile.tsx
  frontend/src/pages/signIn.tsx
Due: eslint

fix: disabled commit to develop branch
  .husky/pre-commit
Due: none

fix: disabled commit to develop branch (#59)
  .husky/pre-commit
Due: none

feat: added graph display for each level
  frontend/package.json
  frontend/src/components/Ladder.tsx
  frontend/src/components/LadderInformation.tsx
  frontend/src/pages/index.tsx
Due: eslint, prettier

feat(salary table and hider): has salary breakdown table along with salary hider
  frontend/src/pages/index.tsx
  frontend/src/pages/salaryInfo.tsx
Due: eslint

fix: fixed style factor
  frontend/src/components/usermodal.tsx
Due: eslint

refactor: rebased
  frontend/src/components/index.ts
  frontend/src/components/userprofile/Achievement.tsx
  frontend/src/components/userprofile/Ladder.tsx
  frontend/src/components/userprofile/Onboard.tsx
  frontend/src/components/userprofile/Salary.tsx
  frontend/src/components/userprofile/UserModal.tsx
  frontend/src/components/userprofile/VerticalTabs.tsx
  frontend/src/components/userprofile/index.tsx
Due: eslint

Path conditions:
  eslint: any of: **/*.{ts,tsx,js,jsx}
  prettier: any of: **/*.{md,yml,json,babelrc,eslintrc,prettierrc}
