Repository nestsolutionsllc/nest-hr: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier

refactor: rebased
  frontend/src/components/profile/achievement/UserModal.tsx
Due: eslint

refactor: intergrated language card
  frontend/src/components/profile/ProfileModal.tsx
  frontend/src/components/profile/achievement/AchievemenList.tsx
  frontend/src/components/profile/achievement/AchievementItem.tsx
  frontend/src/components/profile/achievement/UserModal.tsx
  frontend/src/components/profile/achievement/index.tsx
  frontend/src/components/profile/mockData.ts
  frontend/src/components/profile/type.ts
Due: eslint

refactor: fix
  frontend/src/components/profile/achievement/AchievemenList.tsx
  frontend/src/components/profile/mockData.ts
  frontend/src/components/profile/type.ts
Due: eslint

improved code quality
  frontend/next.config.js
  frontend/src/components/ticket/Form.tsx
  frontend/src/components/ticket/FormControler.tsx
  frontend/src/pages/createTicket.tsx
  frontend/src/pages/ticketing/request.tsx
  frontend/tsconfig.json
Due: eslint, prettier

feat: added Key Result comment component
  frontend/src/components/okr/KRComment/CommentBox.tsx
  frontend/src/components/okr/KRComment/KRComment.tsx
Due: eslint

fix:remove console log
  frontend/src/pages/ticketing/request.tsx
Due: eslint

[feature] Create a ticket (#116)
  frontend/next.config.js
  frontend/src/components/ticket/Form.tsx
  frontend/src/components/ticket/FormControler.tsx
  frontend/src/pages/ticketing/request.tsx
  frontend/tsconfig.json
Due: eslint, prettier

feat: added testing and improved sidebar
  frontend/__tests__/index.test.tsx
  frontend/__tests__/src/components/Sidebar.test.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/layouts/MainLayout.tsx
Due: eslint

feat(implement offboard): implementation of offboarding
  frontend/src/components/profile/VerticalTabs.tsx
  frontend/src/components/profile/mockData.ts
  frontend/src/components/profile/onboarding/CheckBoxForm.tsx
  frontend/src/components/profile/onboarding/Offboard.tsx
Due: eslint

feat: added testing and improved sidebar (#135)
  frontend/__tests__/index.test.tsx
  frontend/__tests__/src/components/Sidebar.test.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/layouts/MainLayout.tsx
Due: eslint

table
  frontend/package.json
  frontend/src/components/profile/salary/index.tsx
Due: eslint, prettier

Salary Table added
  frontend/package.json
  frontend/src/components/profile/mockData.ts
  frontend/src/components/profile/salary/index.tsx
  frontend/src/components/profile/type.ts
Due: eslint, prettier

Fixed some minor issues
  frontend/package.json
  frontend/src/components/profile/mockData.ts
  frontend/src/components/profile/salary/index.tsx
  frontend/src/components/profile/type.ts
Due: eslint, prettier

Improved the code
  frontend/src/components/profile/mockData.ts
  frontend/src/components/profile/salary/index.tsx
  frontend/src/components/profile/type.ts
Due: eslint

fix: org chart to TS
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/orgchart/EmployeeDetails.js
  frontend/src/components/orgchart/EmployeeDetails.tsx
  frontend/src/components/orgchart/ExpandButton.js
  frontend/src/components/orgchart/ExpandButton.tsx
  frontend/src/components/orgchart/NodeContent.js
  frontend/src/components/orgchart/NodeContent.tsx
  frontend/src/components/orgchart/OrganizationalChart.tsx
  frontend/src/interfaces/IDepartment.ts
  frontend/src/interfaces/IEmployee.ts
  frontend/src/interfaces/IPosition.ts
  frontend/src/pages/orgchart/data.js
  frontend/src/pages/orgchart/index.tsx
  frontend/tsconfig.json
Due: eslint, prettier

Fixed Minor Details of the code.
  frontend/src/components/profile/mockData.ts
  frontend/src/components/profile/salary/index.tsx
  frontend/src/components/profile/type.ts
Due: eslint

Minor detail change
  frontend/src/components/profile/mockData.ts
  frontend/src/components/profile/salary/index.tsx
Due: eslint

feat: create okr objective
  backend/.dockerignore 2
  frontend/src/components/okr/mainsSreen/Accordion.tsx
  frontend/src/components/okr/mainsSreen/More.tsx
  frontend/src/components/okr/mainsSreen/Popever.tsx
  frontend/src/components/okr/mainsSreen/Results.tsx
  frontend/src/components/okr/mainsSreen/Summary.tsx
  frontend/src/components/okr/mainsSreen/Type.tsx
  frontend/src/components/okr/mainsSreen/styledComponents.tsx
  frontend/src/components/okr/modal/Body.tsx
  frontend/src/pages/okr/MainScreen.tsx
Due: eslint

ci: ansible script deploy to digitalocean droplet
  deploy.sh
  hosts/staging
  preview.yml
  tasks/code.yml
  templates/nginx.j2
  vars/preview.yml
Due: prettier

fix: inproved style a little bit and fixed some mistakes
  backend/src/app.ts
  backend/src/controller/salaryControllers.ts
  backend/src/routes/salaryRouter.ts
  frontend/src/components/profile/VerticalTabs.tsx
  frontend/src/components/profile/ladder/CommentList.tsx
  frontend/src/components/profile/level/CommentList.tsx
  frontend/src/components/profile/level/index.tsx
  frontend/src/components/profile/mockData.ts
  frontend/src/components/profile/type.ts
Due: eslint

fix: ficed conflict
  backend/src/app.ts
  backend/src/controller/salaryControllers.ts
  backend/src/routes/salaryRouter.ts
Due: eslint

feat: create okr objective
  frontend/src/components/okr/mainsSreen/Accordion.tsx
  frontend/src/components/okr/mainsSreen/Details.tsx
  frontend/src/components/okr/mainsSreen/DropDownMenu.tsx
  frontend/src/components/okr/mainsSreen/Popever.tsx
  frontend/src/components/okr/mainsSreen/Results.tsx
  frontend/src/components/okr/mainsSreen/Summary.tsx
  frontend/src/components/okr/mainsSreen/Type.tsx
  frontend/src/pages/okr/MainScreen.tsx
  frontend/src/pages/okr/Modal.tsx
  frontend/src/pages/okr/index.tsx
  frontend/src/pages/okrlist/index.tsx
Due: eslint

feat: Refactored okr list
  frontend/src/components/okr/AllUsersOkr.tsx
  frontend/src/pages/okrlist/index.tsx
Due: eslint

feat: Added mockdata and linked components
  frontend/src/components/okr/AllUsersOkr.tsx
  frontend/src/components/okr/mockData.json
  frontend/src/pages/okr/MainScreen.tsx
  frontend/src/pages/okrlist/index.tsx
Due: eslint, prettier

add employee and group screen
  frontend/package.json
  frontend/src/components/Sidebar.tsx
  frontend/src/components/admin/AddEmployeeModal.tsx
  frontend/src/components/admin/EmployeeDetailModal.tsx
  frontend/src/components/admin/EmployeeList.tsx
  frontend/src/components/admin/GroupList.tsx
  frontend/src/components/admin/index.tsx
  frontend/src/components/admin/type.ts
  frontend/src/pages/admin/employee.tsx
  frontend/src/pages/admin/group.tsx
Due: eslint, prettier

fix: no-unused-vars
  frontend/src/components/ticket/Form.tsx
  frontend/src/components/ticket/FormController.tsx
  frontend/src/pages/ticketing/request.tsx
Due: eslint

bugfix eslint ticket modal
  frontend/src/components/ticket/Form.tsx
  frontend/src/components/ticket/FormController.tsx
  frontend/src/pages/ticketing/request.tsx
Due: eslint

change variable name
  frontend/src/components/ticket/Form.tsx
  frontend/src/pages/ticketing/request.tsx
Due: eslint

fix: eslint error during the build (#161)
  frontend/src/components/ticket/Form.tsx
  frontend/src/components/ticket/FormController.tsx
  frontend/src/pages/ticketing/request.tsx
Due: eslint

test: Add tests with coverage on ticketing system CRUD (#127)
  backend/src/controller/ticket/ticketControllers.ts
  backend/src/models/ticket/ticket.ts
  backend/src/queries/ticket/ticketService.ts
  backend/tests/routes/ticketingService.test.ts
Due: eslint

refactor: improvement the testing of ticketing system CRUD
  backend/.dockerignore 2
  backend/src/controller/ticketControllers.ts
  backend/src/models/ticket.ts
  backend/src/queries/ticketService.ts
  backend/src/routes/ticketRouter.ts
  backend/tests/routes/ticketingService.test.ts
  backend/tests/utils/setupEnvironment.ts
Due: eslint

fix: inproved level section
  frontend/src/components/profile/Level.tsx
  frontend/src/components/profile/VerticalTabs.tsx
  frontend/src/components/profile/level/CommentList.tsx
  frontend/src/components/profile/level/index.tsx
  frontend/src/components/profile/mockData.ts
  frontend/src/components/profile/type.ts
Due: eslint

feat: improving ladder level
  frontend/src/components/profile/level/CommentList.tsx
  frontend/src/components/profile/level/index.tsx
Due: eslint

feat: add crud in achievement
  .prettierrc
  backend/src/app.ts
  backend/src/controller/achievementControllers.ts
  backend/src/models/Achievement.ts
  backend/src/queries/achievementService.ts
  backend/src/routes/achievementRouter.ts
Due: eslint, prettier

feat: add CRUD in achievement
  backend/src/controller/achievementControllers.ts
  backend/src/queries/achievementService.ts
  backend/src/routes/achievementRouter.ts
  backend/tests/routes/achievementService.test.ts
  backend/tests/utils/setupEnvironment.ts
Due: eslint

test: write test
  backend/tests/routes/achievementService.test.ts
Due: eslint

ci: ansible script deploy to digitalocean droplet
  backend/package.json
  backend/src/app.ts
  deploy.sh
  hosts/staging
  preview.yml
  tasks/code.yml
  templates/env.j2
  templates/nginx.j2
  vars/preview.yml
Due: eslint, prettier

feat: added seat planner
  frontend/public/assets/images/plan.jpg
  frontend/src/components/Sidebar.tsx
  frontend/src/components/orgchart/EmployeeDetails.js
  frontend/src/components/seatplan/SeatPlan.tsx
  frontend/src/components/seatplan/SeatPlanCell.tsx
  frontend/src/components/seatplan/SeatPlanModal.tsx
  frontend/src/pages/seatplan/data.js
  frontend/src/pages/seatplan/index.tsx
Due: eslint

feat: deploy frontend
  .github/workflows/frontend-pr.yml
  frontend/.gitignore
  frontend/src/pages/okr/MainScreen.tsx
  frontend/src/pages/okr/Modal.tsx
  frontend/src/pages/okr/index.tsx
Due: eslint, prettier

fix: fixed org chart
  frontend/next.config.js
  frontend/src/components/orgchart/EmployeeDetails.tsx
  frontend/src/components/orgchart/ExpandButton.tsx
  frontend/src/components/orgchart/NodeContent.tsx
  frontend/src/components/orgchart/OrganizationalChart.tsx
  frontend/src/pages/orgchart/data.ts
  frontend/src/pages/orgchart/index.tsx
Due: eslint

Path conditions:
  eslint: any of: **/*.{ts,tsx,js,jsx}
  prettier: any of: **/*.{md,yml,json,babelrc,eslintrc,prettierrc}
