Repository nestsolutionsllc/nest-hr: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier

fix: test fixes
  backend/src/controller/authController.ts
  backend/src/middlewares/checkMiddle.ts
  backend/src/middlewares/middlewares.ts
  backend/tests/routes/userService.test.ts
  backend/tests/utils/setupEnvironment.ts
Due: eslint

fix: middlewares function test coverage
  backend/src/controller/authController.ts
  backend/src/middlewares/middlewares.ts
  backend/tests/routes/movieService.test.ts
  backend/tests/routes/userService.test.ts
  backend/tests/utils/setupEnvironment.ts
Due: eslint

fix: middlewares function test coverage
  backend/src/middlewares/middlewares.ts
  backend/tests/routes/userService.test.ts
Due: eslint

fix: middlewares function test coverage
  backend/src/routes/userRouter.ts
  backend/tests/routes/userService.test.ts
Due: eslint

fix: middlewares function test coverage
  backend/src/controller/authController.ts
  backend/src/middlewares/middlewares.ts
  backend/src/routes/userRouter.ts
  backend/tests/routes/userService.test.ts
  backend/tests/utils/demoData.ts
  backend/tests/utils/setupEnvironment.ts
Due: eslint

fix: middlewares function test coverage
  backend/src/middlewares/middlewares.ts
Due: eslint

feat: Group Grud System with test
  backend/package.json
  backend/src/controller/authController.ts
  backend/src/controller/groupControllers.ts
  backend/src/controller/userControllers.ts
  backend/src/docs/userManagement.md
  backend/src/middlewares/middlewares.ts
  backend/src/models/Group.ts
  backend/src/queries/groupService.ts
  backend/src/queries/userService.ts
  backend/src/routes/groupRouter.ts
  backend/src/routes/userRouter.ts
  backend/tests/routes/groupService.test.ts
  backend/tests/utils/demoData.ts
Due: eslint, prettier

fix(better ui): better ui, can create ticket from ticketing/daily page
  frontend/src/components/Sidebar.tsx
  frontend/src/components/ticket/TicketAssignee.tsx
  frontend/src/components/ticket/TicketDetail.tsx
  frontend/src/components/ticket/TicketList.tsx
  frontend/src/components/ticket/TicketListModal.tsx
  frontend/src/components/ticket/TicketListStatus.tsx
  frontend/src/components/ticket/fetch-utility.tsx
  frontend/src/components/ticket/request.tsx
  frontend/src/components/ticket/type.ts
  frontend/src/pages/ticketing/[id].tsx
Due: eslint

fix: conflict fixed
  backend/src/controller/groupControllers.ts
  backend/src/middlewares/middlewares.ts
  backend/tests/routes/groupService.test.ts
  backend/tests/routes/userService.test.ts
  backend/tests/utils/setupEnvironment.ts
Due: eslint

feat: Implemented fetchdata function
  frontend/src/components/profile/achievement/AchievemenList.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/profile.tsx
  frontend/src/utils/fetchData.ts
  templates/nginx.j2
Due: eslint

feat: added new hook called useModal
  frontend/src/pages/_app.tsx
  frontend/src/providers/ModalProvider.tsx
Due: eslint

fix: fixed little bug
  frontend/src/components/Sidebar.tsx
  frontend/src/components/ticket/FormController.tsx
  frontend/src/components/ticket/request.tsx
Due: eslint

fix: better ui, can create ticket from ticketing/daily page (#185)
  frontend/src/components/Sidebar.tsx
  frontend/src/components/ticket/FormController.tsx
  frontend/src/components/ticket/TicketAssignee.tsx
  frontend/src/components/ticket/TicketDetail.tsx
  frontend/src/components/ticket/TicketList.tsx
  frontend/src/components/ticket/TicketListModal.tsx
  frontend/src/components/ticket/TicketListStatus.tsx
  frontend/src/components/ticket/fetch-utility.tsx
  frontend/src/components/ticket/request.tsx
  frontend/src/components/ticket/type.ts
  frontend/src/pages/ticketing/[id].tsx
Due: eslint

feat: Added to sidebar
  frontend/src/components/Sidebar.tsx
  frontend/src/components/okr/KRComment/CommentBox.tsx
  frontend/src/components/okr/KRComment/KRComment.tsx
  frontend/src/components/okr/mainsSreen/Details.tsx
  frontend/src/components/okr/mainsSreen/Results.tsx
  frontend/src/components/okr/mainsSreen/Type.tsx
  frontend/src/components/okr/mockData.json
Due: eslint, prettier

fix: finalizing tests
  backend/src/controller/authController.ts
  backend/src/middlewares/middlewares.ts
  backend/src/queries/userService.ts
  backend/src/routes/userRouter.ts
  backend/tests/routes/userService.test.ts
  backend/tests/utils/demoData.ts
Due: eslint

56 user credential jwt implementation (#58)
  backend/package.json
  backend/src/app.ts
  backend/src/config/auth.config.ts
  backend/src/config/db.config.ts
  backend/src/controller/authController.ts
  backend/src/controller/groupControllers.ts
  backend/src/controller/userControllers.ts
  backend/src/docs/userManagement.md
  backend/src/middlewares/middlewares.ts
  backend/src/models/Group.ts
  backend/src/models/User.ts
  backend/src/models/index.ts
  backend/src/queries/groupService.ts
  backend/src/queries/userService.ts
  backend/src/routes/groupRouter.ts
  backend/src/routes/userRouter.ts
  backend/src/utils/types/user.ts
  backend/tests/routes/groupService.test.ts
  backend/tests/routes/userService.test.ts
  backend/tests/utils/demoData.ts
  backend/tests/utils/setupEnvironment.ts
  backend/tsconfig.json
Due: eslint, prettier

feat: new form in ticketing edit for admin
  frontend/src/components/Sidebar.tsx
  frontend/src/components/ticket/DraggableList.tsx
  frontend/src/components/ticket/DraggableListItem.tsx
  frontend/src/pages/ticketing/form.tsx
  frontend/src/providers/AuthProvider.tsx
Due: eslint

fix: add doc to userManagement
  backend/src/docs/userManagement.md
Due: prettier

feat: user management service
  backend/package.json
  backend/src/controller/authController.ts
  backend/src/controller/userControllers.ts
  backend/src/middlewares/middlewares.ts
  backend/src/models/User.ts
  backend/src/queries/userService.ts
  backend/src/routes/userRouter.ts
  backend/tests/routes/groupService.test.ts
  backend/tests/routes/userService.test.ts
  backend/tests/utils/demoData.ts
Due: eslint, prettier

feat: user management service (#196)
  backend/package.json
  backend/src/controller/authController.ts
  backend/src/controller/userControllers.ts
  backend/src/middlewares/middlewares.ts
  backend/src/models/User.ts
  backend/src/queries/userService.ts
  backend/src/routes/userRouter.ts
  backend/tests/routes/groupService.test.ts
  backend/tests/routes/userService.test.ts
  backend/tests/utils/demoData.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: **/*.{ts,tsx,js,jsx}
  prettier: any of: **/*.{md,yml,json,babelrc,eslintrc,prettierrc}
