Repository nestsolutionsllc/nest-hr: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier

added modal component with MUI
  frontend/src/components/index.ts
  frontend/src/components/okr/modal/Body.tsx
  frontend/src/components/okr/modal/InputComp.tsx
  frontend/src/components/okr/modal/Modal.tsx
  frontend/src/components/okr/modal/type.ts
  frontend/src/pages/okr/Modal.tsx
  package-lock.json
  package.json
Due: eslint, prettier

feat(collapsible table): detailed table that shows history
  frontend/src/pages/salaryInfo.tsx
Due: eslint

fix: fixed style errors
  frontend/src/components/userprofile/UserModal.tsx
Due: eslint

feat: Personal info screen
  frontend/src/components/Loader.tsx
  frontend/src/components/profile/Achievement.tsx
  frontend/src/components/profile/Ladder.tsx
  frontend/src/components/profile/Onboard.tsx
  frontend/src/components/profile/PersonalInfo.tsx
  frontend/src/components/profile/Salary.tsx
  frontend/src/components/profile/VerticalTabs.tsx
  frontend/src/components/profile/mockData.ts
  frontend/src/pages/profile.tsx
Due: eslint

feat: a
  frontend/src/pages/salaryInfo.tsx
Due: eslint

ci: testing ansible actions to deployment (#37)
  .github/workflows/backend-pr.yml
  ansible.cfg
  backend/README.md
  hosts/staging
  id_hr
  preview.yml
  tasks/code.yml
Due: prettier

fix: profile pages improvement
  frontend/src/components/profile/Achievement.tsx
  frontend/src/components/profile/Ladder.tsx
  frontend/src/components/profile/Onboard.tsx
  frontend/src/components/profile/PersonalInfo.tsx
  frontend/src/components/profile/Salary.tsx
  frontend/src/components/profile/VerticalTabs.tsx
Due: eslint

feat: Implemented ticketing CRUD
  backend/.dockerignore
  backend/Dockerfile
  backend/src/app.ts
  backend/src/controller/ticket/ticketControllers.ts
  backend/src/models/ticket/ticket.ts
  backend/src/queries/ticket/ticketService.ts
  backend/src/routes/ticketRouter.ts
Due: eslint

feat(onboarding): implemented onboarding
  frontend/package-lock.json
  frontend/src/components/profile/CheckBoxForm.tsx
  frontend/src/components/profile/CheckBoxList.tsx
  frontend/src/components/profile/Onboard.tsx
  frontend/src/components/profile/ReadGuide.tsx
  frontend/src/components/profile/mockData.ts
  frontend/src/components/profile/types.ts
Due: eslint, prettier

fix: now displays correct data when selecting level
  frontend/src/components/Ladder/Ladder.tsx
  frontend/src/components/Ladder/LadderData.tsx
  frontend/src/components/Ladder/LadderInformation.tsx
  frontend/src/components/LadderInformation.tsx
  frontend/src/pages/index.tsx
Due: eslint

feat: ladder graph component + ladder informations
  frontend/package.json
  frontend/src/components/okr/ladder/Ladder.tsx
  frontend/src/components/okr/ladder/LadderData.tsx
  frontend/src/components/okr/ladder/LadderInformation.tsx
Due: eslint, prettier

feat: rebase with develop
  frontend/src/components/profile/achievement/AchievemenList.tsx
  frontend/src/components/profile/achievement/Achievement.tsx
  frontend/src/components/profile/achievement/AchievementItem.tsx
  frontend/src/theme/theme.ts
Due: eslint

feat: add achievement section
  frontend/src/components/profile/VerticalTabs.tsx
  frontend/src/components/userprofile/achievement/AchievemenList.tsx
  frontend/src/components/userprofile/achievement/Achievement.tsx
  frontend/src/components/userprofile/achievement/AchievementItem.tsx
  frontend/src/theme/theme.ts
Due: eslint

feat: add achievement section in profile page
  frontend/src/components/profile/Achievement.tsx
  frontend/src/components/profile/VerticalTabs.tsx
  frontend/src/components/profile/achievement/AchievemenList.tsx
  frontend/src/components/profile/achievement/AchievementItem.tsx
  frontend/src/components/profile/achievement/index.tsx
  frontend/src/components/profile/mockData.ts
  frontend/src/components/profile/type.ts
  frontend/src/pages/profile.tsx
Due: eslint

fix: added coverage rule for tests
  .github/workflows/backend-pr.yml
  backend/jest.config.js
Due: eslint, prettier

fix: added coverage rule for tests (#82)
  .github/workflows/backend-pr.yml
  backend/jest.config.js
Due: eslint, prettier

feat: create sidebar in user profile & structure of other sections
  frontend/src/components/userprofile/Achievement.tsx
  frontend/src/components/userprofile/Ladder.tsx
  frontend/src/components/userprofile/Onboard.tsx
  frontend/src/components/userprofile/Salary.tsx
  frontend/src/components/userprofile/VerticalTabs.tsx
  frontend/src/layouts/MainLayout.tsx
  frontend/src/pages/profile.tsx
  frontend/src/pages/signIn.tsx
Due: eslint

feat: create sidebar in user profile & structure of other related sections
  frontend/public/assets/userprofile/person.svg
  frontend/src/components/userprofile/Achievement.tsx
  frontend/src/components/userprofile/Ladder.tsx
  frontend/src/components/userprofile/Onboard.tsx
  frontend/src/components/userprofile/Salary.tsx
  frontend/src/components/userprofile/VerticalTabs.tsx
  frontend/src/pages/profile.tsx
Due: eslint

fix: disabled commit to develop branch (#59)
  .husky/pre-commit
Due: none

fix: fix mainlayout in index file
  frontend/src/pages/index.tsx
Due: eslint

feat: Updated SideBar
  frontend/src/components/Sidebar.tsx
  frontend/src/pages/ticketing/request.tsx
Due: eslint

feat: Updated SideBar
  frontend/src/components/Sidebar.tsx
  frontend/src/layouts/MainLayout.tsx
  frontend/src/pages/ticketing/daily.tsx
  frontend/src/styles/globals.css
Due: eslint

style: changed raw html tags by MUI components like Box, Typography
  frontend/src/components/Sidebar.tsx
  frontend/src/pages/ticketing/request.tsx
Due: eslint

feat: added User Modal Component
  frontend/src/components/profile/UserModal.tsx
Due: eslint

fix: fixed styling errors
  frontend/src/components/profile/UserModal.tsx
Due: eslint

fix: fixed export error
  frontend/src/components/profile/achievement/UserModal.tsx
Due: eslint

feat(component): create a new ticket
  frontend/src/components/ticket/FormControler.tsx
  frontend/src/pages/createTicket.tsx
  package-lock.json
Due: eslint, prettier

feat: added okr list
  .gitignore
  frontend/src/components/okr/AllUsersOkr.tsx
  frontend/src/pages/okr/index.tsx
  frontend/src/pages/okrlist/index.tsx
Due: eslint

style(onboarding style): improved onboarding style
  frontend/src/components/profile/Onboard.tsx
  frontend/src/components/profile/VerticalTabs.tsx
  frontend/src/components/profile/mockData.ts
  frontend/src/components/profile/onboarding/CheckBoxForm.tsx
  frontend/src/components/profile/onboarding/CheckBoxList.tsx
  frontend/src/components/profile/onboarding/Onboard.tsx
  frontend/src/components/profile/onboarding/ReadGuide.tsx
  frontend/src/components/profile/type.ts
  frontend/src/components/profile/types.ts
Due: eslint

Path conditions:
  eslint: any of: **/*.{ts,tsx,js,jsx}
  prettier: any of: **/*.{md,yml,json,babelrc,eslintrc,prettierrc}
