Repository nestsolutionsllc/nest-hr: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": [
    "eslint"
  ],
  "**/*.{md,yml,json,babelrc,eslintrc,prettierrc}": [
    "prettier"
  ]
}

ci: testing ansible actions to deployment (#37)
  .github/workflows/backend-pr.yml
  ansible.cfg
  backend/README.md
  hosts/staging
  id_hr
  preview.yml
  tasks/code.yml
Due: prettier

fix: disabled commit to develop branch (#59)
  .husky/pre-commit
Due: none

fix: fixed styling errors
  frontend/src/components/profile/UserModal.tsx
Due: eslint

feat: added User Modal Component
  frontend/src/components/profile/UserModal.tsx
Due: eslint

fix: fixed export error
  frontend/src/components/profile/achievement/UserModal.tsx
Due: eslint

feat: implemented salary screen
  frontend/package.json
  frontend/public/assets/profile/person.svg
  frontend/src/components/profile/Level.tsx
  frontend/src/components/profile/PersonalInfo.tsx
  frontend/src/components/profile/Salary.tsx
  frontend/src/components/profile/VerticalTabs.tsx
  frontend/src/components/profile/mockData.ts
  frontend/src/components/profile/salary/index.tsx
  frontend/src/components/profile/type.ts
Due: eslint, prettier

feat: implemented org chart (#105)
  frontend/package.json
  frontend/src/components/Sidebar.tsx
  frontend/src/components/orgchart/EmployeeDetails.js
  frontend/src/components/orgchart/ExpandButton.js
  frontend/src/components/orgchart/NodeContent.js
  frontend/src/components/orgchart/OrganizationalChart.js
  frontend/src/pages/orgchart/data.js
  frontend/src/pages/orgchart/index.tsx
Due: eslint, prettier

feat: added Language Card
  frontend/src/components/profile/LanguageCard.tsx
  frontend/src/pages/index.tsx
Due: eslint

feat: Personal info screen
  frontend/src/components/Loader.tsx
  frontend/src/components/profile/Achievement.tsx
  frontend/src/components/profile/Ladder.tsx
  frontend/src/components/profile/Onboard.tsx
  frontend/src/components/profile/PersonalInfo.tsx
  frontend/src/components/profile/Salary.tsx
  frontend/src/components/profile/VerticalTabs.tsx
  frontend/src/components/profile/mockData.ts
  frontend/src/pages/profile.tsx
Due: eslint

fix: fix mainlayout in index file
  frontend/src/pages/index.tsx
Due: eslint

feat: Updated SideBar
  frontend/src/components/Sidebar.tsx
  frontend/src/layouts/MainLayout.tsx
  frontend/src/pages/ticketing/daily.tsx
  frontend/src/styles/globals.css
Due: eslint

feat(onboarding): implemented onboarding
  frontend/package-lock.json
  frontend/src/components/profile/CheckBoxForm.tsx
  frontend/src/components/profile/CheckBoxList.tsx
  frontend/src/components/profile/Onboard.tsx
  frontend/src/components/profile/ReadGuide.tsx
  frontend/src/components/profile/mockData.ts
  frontend/src/components/profile/types.ts
Due: eslint, prettier

feat: create sidebar in user profile & structure of other sections
  frontend/src/components/userprofile/Achievement.tsx
  frontend/src/components/userprofile/Ladder.tsx
  frontend/src/components/userprofile/Onboard.tsx
  frontend/src/components/userprofile/Salary.tsx
  frontend/src/components/userprofile/VerticalTabs.tsx
  frontend/src/layouts/MainLayout.tsx
  frontend/src/pages/profile.tsx
  frontend/src/pages/signIn.tsx
Due: eslint

fix: added coverage rule for tests (#82)
  .github/workflows/backend-pr.yml
  backend/jest.config.js
Due: eslint, prettier

feat: rebase with develop
  frontend/src/components/profile/achievement/AchievemenList.tsx
  frontend/src/components/profile/achievement/Achievement.tsx
  frontend/src/components/profile/achievement/AchievementItem.tsx
  frontend/src/theme/theme.ts
Due: eslint

style(onboarding style): improved onboarding style
  frontend/src/components/profile/Onboard.tsx
  frontend/src/components/profile/VerticalTabs.tsx
  frontend/src/components/profile/mockData.ts
  frontend/src/components/profile/onboarding/CheckBoxForm.tsx
  frontend/src/components/profile/onboarding/CheckBoxList.tsx
  frontend/src/components/profile/onboarding/Onboard.tsx
  frontend/src/components/profile/onboarding/ReadGuide.tsx
  frontend/src/components/profile/type.ts
  frontend/src/components/profile/types.ts
Due: eslint

feat: create sidebar in user profile & structure of other related sections
  frontend/public/assets/userprofile/person.svg
  frontend/src/components/userprofile/Achievement.tsx
  frontend/src/components/userprofile/Ladder.tsx
  frontend/src/components/userprofile/Onboard.tsx
  frontend/src/components/userprofile/Salary.tsx
  frontend/src/components/userprofile/VerticalTabs.tsx
  frontend/src/pages/profile.tsx
Due: eslint

feat: Implemented ticketing CRUD
  backend/.dockerignore
  backend/Dockerfile
  backend/src/app.ts
  backend/src/controller/ticket/ticketControllers.ts
  backend/src/models/ticket/ticket.ts
  backend/src/queries/ticket/ticketService.ts
  backend/src/routes/ticketRouter.ts
Due: eslint

docs: add readme in frontend
  frontend/README.md
Due: prettier

feat: add achievement section in profile page
  frontend/src/components/profile/Achievement.tsx
  frontend/src/components/profile/VerticalTabs.tsx
  frontend/src/components/profile/achievement/AchievemenList.tsx
  frontend/src/components/profile/achievement/AchievementItem.tsx
  frontend/src/components/profile/achievement/index.tsx
  frontend/src/components/profile/mockData.ts
  frontend/src/components/profile/type.ts
  frontend/src/pages/profile.tsx
Due: eslint

feat: can display your tickets and tickets that are assigned to you (#114)
  frontend/src/components/ticket/TicketAssignee.tsx
  frontend/src/components/ticket/TicketDetail.tsx
  frontend/src/components/ticket/TicketList.tsx
  frontend/src/components/ticket/TicketListModal.tsx
  frontend/src/components/ticket/TicketListStatus.tsx
  frontend/src/components/ticket/type.ts
  frontend/src/pages/ticketing/[id].tsx
  frontend/src/pages/ticketing/daily.tsx
Due: eslint

fix: profile pages improvement
  frontend/src/components/profile/Achievement.tsx
  frontend/src/components/profile/Ladder.tsx
  frontend/src/components/profile/Onboard.tsx
  frontend/src/components/profile/PersonalInfo.tsx
  frontend/src/components/profile/Salary.tsx
  frontend/src/components/profile/VerticalTabs.tsx
Due: eslint

feat: add edit button & modal
  frontend/src/components/profile/PersonalInfo.tsx
Due: eslint

fix: prettierrc and settings.json difference (#28)
  .vscode/settings.json
  backend/src/controller/movieControllers.ts
  backend/src/routes/movieRouter.ts
  backend/src/server.ts
  backend/tests/routes/movieService.test.ts
  frontend/__tests__/index.test.tsx
  frontend/src/components/Loader.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/index.ts
  frontend/src/enums/constants.ts
  frontend/src/layouts/MainLayout.tsx
  frontend/src/layouts/index.ts
  frontend/src/pages/_app.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/signIn.tsx
  frontend/src/providers/AuthProvider.tsx
  frontend/src/providers/index.ts
  frontend/src/theme/index.ts
  frontend/src/theme/theme.ts
  tsconfig.json
Due: eslint, prettier

feat: ladder graph component + ladder informations
  frontend/package.json
  frontend/src/components/okr/ladder/Ladder.tsx
  frontend/src/components/okr/ladder/LadderData.tsx
  frontend/src/components/okr/ladder/LadderInformation.tsx
Due: eslint, prettier

fix: main layout bug fixed
  frontend/src/pages/_app.tsx
  frontend/src/pages/profile.tsx
Due: eslint

feat: added okr list
  .gitignore
  frontend/src/components/okr/AllUsersOkr.tsx
  frontend/src/pages/okr/index.tsx
  frontend/src/pages/okrlist/index.tsx
Due: eslint

feat: account pop up and Sidebar bug fixed
  frontend/src/components/Sidebar.tsx
  frontend/src/layouts/AccountPopOver.tsx
  frontend/src/layouts/MainLayout.tsx
Due: eslint

added modal component with MUI
  frontend/src/components/index.ts
  frontend/src/components/okr/modal/Body.tsx
  frontend/src/components/okr/modal/InputComp.tsx
  frontend/src/components/okr/modal/Modal.tsx
  frontend/src/components/okr/modal/type.ts
  frontend/src/pages/okr/Modal.tsx
  package-lock.json
  package.json
Due: eslint, prettier

feat: configure workpace settings (#26)
  .prettierrc
  .vscode/settings.json
Due: prettier

feat: added mock data
  frontend/src/components/profile/Achievement.tsx
  frontend/src/components/profile/LanguageCard.tsx
  frontend/src/components/profile/mockData.ts
  frontend/src/pages/index.tsx
Due: eslint

feat: add achievement section
  frontend/src/components/profile/VerticalTabs.tsx
  frontend/src/components/userprofile/achievement/AchievemenList.tsx
  frontend/src/components/userprofile/achievement/Achievement.tsx
  frontend/src/components/userprofile/achievement/AchievementItem.tsx
  frontend/src/theme/theme.ts
Due: eslint

fix: fix
  frontend/src/components/profile/achievement/AchievemenList.tsx
  frontend/src/components/profile/mockData.ts
  frontend/src/components/profile/type.ts
Due: eslint

refactor: rebased
  frontend/src/components/profile/Achievement.tsx
  frontend/src/components/profile/LanguageCard.tsx
  frontend/src/components/profile/achievement/AchievemenList.tsx
  frontend/src/components/profile/achievement/AchievementItem.tsx
  frontend/src/components/profile/achievement/index.tsx
  frontend/src/components/profile/mockData.ts
  frontend/src/components/profile/type.ts
  frontend/src/components/profile/types.ts
  frontend/src/pages/index.tsx
Due: eslint

feat: added language card and selector
  frontend/src/components/profile/achievement/AchievemenList.tsx
  frontend/src/components/profile/achievement/AchievementItem.tsx
  frontend/src/components/profile/achievement/UserModal.tsx
  frontend/src/components/profile/achievement/index.tsx
  frontend/src/components/profile/mockData.ts
Due: eslint

feat: added KR comment component
  frontend/src/components/okr/KRComment/CommentBox.tsx
  frontend/src/components/okr/KRComment/CommentSection.tsx
  frontend/src/components/okr/KRComment/KRComment.tsx
Due: eslint

refactor: integrated language card
  frontend/src/components/profile/achievement/AchievemenList.tsx
  frontend/src/components/profile/achievement/AchievementItem.tsx
  frontend/src/components/profile/types.ts
Due: eslint

feat: added edit button
  frontend/src/components/profile/achievement/AchievemenList.tsx
  frontend/src/components/profile/achievement/UserModal.tsx
  frontend/src/components/profile/mockData.ts
Due: eslint

fix: fix
  frontend/src/components/profile/ProfileModal.tsx
Due: eslint
