Repository nestsolutionsllc/nest-hr: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier

fix: fixed org charts
  frontend/src/components/orgchart/OrganizationalChart.tsx
Due: eslint

feat: added seat planner (#166)
  frontend/public/assets/images/plan.jpg
  frontend/src/components/Sidebar.tsx
  frontend/src/components/orgchart/EmployeeDetails.js
  frontend/src/components/seatplan/SeatPlan.tsx
  frontend/src/components/seatplan/SeatPlanCell.tsx
  frontend/src/components/seatplan/SeatPlanModal.tsx
  frontend/src/pages/seatplan/data.js
  frontend/src/pages/seatplan/index.tsx
Due: eslint

feat: group_section
  frontend/src/components/admin/AddGroupModal.tsx
  frontend/src/components/admin/GroupDetailModal.tsx
  frontend/src/components/admin/GroupList.tsx
  frontend/src/components/admin/type.ts
Due: eslint

fix: fixed org chart
  frontend/src/components/orgchart/OrganizationalChart.tsx
Due: eslint

fix: org chart to TS
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/orgchart/EmployeeDetails.tsx
  frontend/src/components/orgchart/ExpandButton.js
  frontend/src/components/orgchart/ExpandButton.tsx
  frontend/src/components/orgchart/NodeContent.js
  frontend/src/components/orgchart/NodeContent.tsx
  frontend/src/components/orgchart/OrganizationalChart.tsx
  frontend/src/interfaces/IDepartment.ts
  frontend/src/interfaces/IEmployee.ts
  frontend/src/interfaces/IPosition.ts
  frontend/src/pages/orgchart/data.js
  frontend/src/pages/orgchart/index.tsx
  frontend/tsconfig.json
Due: eslint, prettier

fix: fixed org chart
  frontend/src/components/orgchart/EmployeeDetails.tsx
  frontend/src/components/orgchart/ExpandButton.tsx
  frontend/src/components/orgchart/NodeContent.tsx
  frontend/src/components/orgchart/OrganizationalChart.tsx
  frontend/src/pages/orgchart/data.ts
  frontend/src/pages/orgchart/index.tsx
Due: eslint

feat(implement offboarding crud): implement offboarding backend CRUD
  backend/src/app.ts
  backend/src/controller/profile/offboarding/offboardController.ts
  backend/src/models/profile/offboarding/Offboard.ts
  backend/src/queries/profile/offboarding/offBoardCheckListService.ts
  backend/src/routes/profile/offboarding/offboardRouter.ts
  backend/tests/routes/profile/offboarding/offboardService.test.ts
  backend/tests/utils/setupEnvironment.ts
Due: eslint

feat: connect with backend host
  frontend/next.config.js
  frontend/src/components/profile/VerticalTabs.tsx
  frontend/src/components/profile/achievement/AchievemenList.tsx
  frontend/src/components/profile/achievement/AchievementItem.tsx
  frontend/src/components/profile/achievement/index.tsx
  frontend/src/components/profile/type.ts
  frontend/src/pages/profile.tsx
Due: eslint

feat: data receive from backend
  .github/workflows/frontend-pr.yml
Due: prettier

fix: CD bug fixed
  .github/workflows/frontend-pr.yml
Due: prettier

fix: Testing deployment
  frontend/src/pages/profile.tsx
Due: eslint

fix: changed files that are affected by the new Mock Data
  frontend/src/components/okr/AllUsersOkr.tsx
  frontend/src/components/okr/KRComment/CommentBox.tsx
  frontend/src/components/okr/KRComment/KRComment.tsx
  frontend/src/components/okr/ladder/Ladder.tsx
  frontend/src/components/okr/ladder/LadderInformation.tsx
  frontend/src/components/okr/mainsSreen/Accordion.tsx
  frontend/src/components/okr/mainsSreen/Details.tsx
  frontend/src/components/okr/mainsSreen/DropDownMenu.tsx
  frontend/src/components/okr/mainsSreen/Popever.tsx
  frontend/src/components/okr/mainsSreen/Results.tsx
  frontend/src/components/okr/mainsSreen/Summary.tsx
  frontend/src/components/okr/mainsSreen/Type.tsx
  frontend/src/components/okr/mockData.json
  frontend/src/components/okr/userObj/UserObjective.tsx
  frontend/src/pages/okr/Okrs.tsx
  frontend/src/pages/okr/index.tsx
  frontend/src/pages/okr/list/index.tsx
Due: eslint, prettier

feat: preview link with port numbered url
  .github/workflows/backend-pr.yml
  preview.yml
Due: prettier

ci: ansible script deploy to digitalocean droplet
  backend/package.json
  backend/src/app.ts
  deploy.sh
  hosts/staging
  preview.yml
  tasks/code.yml
  templates/env.j2
  templates/nginx.j2
  vars/preview.yml
Due: eslint, prettier

ci: ansible script deploy to digitalocean droplet
  preview.yml
Due: prettier

feat: preview link with port numbered url
  .github/workflows/backend-pr.yml
Due: prettier

refactor: updated design of org chart
  frontend/src/components/orgchart/ExpandButton.tsx
  frontend/src/components/orgchart/NodeContent.tsx
  frontend/src/components/orgchart/OrganizationalChart.tsx
  frontend/src/components/orgchart/SubContent.module.css
  frontend/src/components/orgchart/SubContent.tsx
  frontend/src/pages/orgchart/data.ts
  frontend/src/pages/orgchart/index.tsx
Due: eslint

fix: writed explanation comments on functions. Changed table related tags to box
  frontend/src/components/seatplan/SeatPlan.tsx
  frontend/src/components/seatplan/SeatPlanModal.tsx
  frontend/src/pages/seatplan/index.tsx
Due: eslint

refactor: updated design of org chart
  frontend/public/assets/images/plan.jpg
  frontend/src/components/Sidebar.tsx
  frontend/src/components/orgchart/OrganizationalChart.tsx
  frontend/src/components/seatplan/SeatPlan.tsx
  frontend/src/components/seatplan/SeatPlanCell.tsx
  frontend/src/components/seatplan/SeatPlanModal.tsx
  frontend/src/pages/orgchart/index.tsx
  frontend/src/pages/seatplan/data.js
  frontend/src/pages/seatplan/index.tsx
Due: eslint

ci: ansible script deploy to digitalocean droplet (#165)
  .github/workflows/backend-pr.yml
  backend/package.json
  backend/src/app.ts
  deploy.sh
  hosts/staging
  preview.yml
  tasks/code.yml
  templates/env.j2
  templates/nginx.j2
  vars/preview.yml
Due: eslint, prettier

refactor: updated design of org chart
  frontend/src/components/orgchart/OrganizationalChart.tsx
Due: eslint

refactor: updated design of org chart
  frontend/src/components/orgchart/NodeContent.tsx
Due: eslint

refactor: changed design
  frontend/src/components/orgchart/EmployeeDetails.module.css
  frontend/src/components/orgchart/EmployeeDetails.tsx
  frontend/src/components/orgchart/ExpandButton.tsx
  frontend/src/components/orgchart/NodeContent.module.css
  frontend/src/components/orgchart/NodeContent.tsx
Due: eslint

fix: removed unnecessary lines of code
  frontend/src/components/okr/KRComment/CommentBox.tsx
  frontend/src/components/okr/ladder/LadderInformation.tsx
  frontend/src/components/okr/mainsSreen/Popever.tsx
  frontend/src/components/okr/mainsSreen/Results.tsx
  frontend/src/pages/okr/index.tsx
Due: eslint

refactor: improvement the testing of ticketing system CRUD
  backend/.dockerignore 2
  backend/src/controller/ticketControllers.ts
  backend/src/models/ticket.ts
  backend/src/queries/ticketService.ts
  backend/src/routes/ticketRouter.ts
  backend/tests/routes/ticketService.test.ts
  backend/tests/routes/ticketingService.test.ts
  backend/tests/utils/setupEnvironment.ts
Due: eslint

refactor: improvement the testing of ticketing system CRUD (#164)
  backend/.dockerignore 2
  backend/src/controller/ticketControllers.ts
  backend/src/models/ticket.ts
  backend/src/queries/ticketService.ts
  backend/src/routes/ticketRouter.ts
  backend/tests/routes/ticketService.test.ts
  backend/tests/routes/ticketingService.test.ts
  backend/tests/utils/setupEnvironment.ts
Due: eslint

Initial login auth implemented
  backend/package.json
  backend/src/app.ts
  backend/src/config/auth.config.ts
  backend/src/config/db.config.ts
  backend/src/controller/groupControllers.ts
  backend/src/controller/otherControllers.ts
  backend/src/controller/userControllers.ts
  backend/src/middlewares/authLogin.ts
  backend/src/middlewares/authenticateToken.ts
  backend/src/middlewares/checkMiddle.ts
  backend/src/middlewares/checkPermission.ts
  backend/src/middlewares/index.ts
  backend/src/middlewares/verifySignUp.ts
  backend/src/models/Group.ts
  backend/src/models/Permission.ts
  backend/src/models/User.ts
  backend/src/models/index.ts
  backend/src/queries/groupService.ts
  backend/src/queries/permissionService.ts
  backend/src/queries/userService.ts
  backend/src/routes/groupRouter.ts
  backend/src/routes/permissionRouter.ts
  backend/src/routes/userRouter.ts
  backend/src/utils/constants/types.ts
  backend/src/utils/types/permissions.ts
  backend/src/utils/types/role.ts
  backend/src/utils/types/user.ts
  backend/tsconfig.json
Due: eslint, prettier

feat: jWT login and credentials
  CONTRIBUTING.md
Due: prettier

test
  CONTRIBUTING.md
Due: prettier

fix: style
  backend/src/controller/otherControllers.ts
  backend/src/middlewares/checkPermission.ts
Due: eslint

Initial login auth implemented
  backend/src/config/auth.config.ts
  backend/src/config/db.config.ts
  backend/src/controller/groupControllers.ts
  backend/src/controller/otherControllers.ts
  backend/src/controller/userControllers.ts
  backend/src/middlewares/authLogin.ts
  backend/src/middlewares/authenticateToken.ts
  backend/src/middlewares/checkMiddle.ts
  backend/src/middlewares/checkPermission.ts
  backend/src/middlewares/index.ts
  backend/src/middlewares/verifySignUp.ts
  backend/src/models/Group.ts
  backend/src/models/User.ts
  backend/src/models/index.ts
  backend/src/models/role.model.ts
  backend/src/queries/groupService.ts
  backend/src/queries/userService.ts
  backend/src/routes/groupRouter.ts
  backend/src/routes/userRouter.ts
  backend/src/utils/constants/types.ts
  backend/src/utils/types/permissions.ts
  backend/src/utils/types/role.ts
  backend/src/utils/types/user.ts
Due: eslint

feat: users api permission check
  backend/src/controller/userControllers.ts
  backend/src/middlewares/authLogin.ts
  backend/src/middlewares/authenticateToken.ts
  backend/src/middlewares/checkPermission.ts
  backend/src/middlewares/index.ts
  backend/src/middlewares/middlewares.ts
  backend/src/models/Group.ts
  backend/src/models/User.ts
  backend/src/routes/userRouter.ts
  backend/src/utils/types/user.ts
Due: eslint

feat: users api permission check
  backend/src/middlewares/middlewares.ts
Due: eslint

fix: temp
  backend/package.json
  backend/src/controller/userControllers.ts
  backend/src/middlewares/authKpi.ts
  backend/src/middlewares/authLogin.ts
  backend/src/middlewares/checkMiddle.ts
  backend/src/middlewares/checkPermission.ts
  backend/src/middlewares/index.ts
  backend/src/models/Group.ts
  backend/src/models/role.model.ts
  backend/src/queries/groupService.ts
  backend/src/queries/userService.ts
  backend/src/routes/userRouter.ts
Due: eslint, prettier

feat: users api permission check
  backend/src/controller/authController.ts
  backend/src/controller/groupControllers.ts
  backend/src/controller/otherControllers.ts
  backend/src/controller/userControllers.ts
  backend/src/docs/userManagement.Doc
  backend/src/middlewares/authKpi.ts
  backend/src/middlewares/authenticateToken.ts
  backend/src/middlewares/checkMiddle.ts
  backend/src/middlewares/index.ts
  backend/src/middlewares/middlewares.ts
  backend/src/middlewares/verifySignUp.ts
  backend/src/models/Group.ts
  backend/src/models/Permission.ts
  backend/src/models/User.ts
  backend/src/models/index.ts
  backend/src/queries/groupService.ts
  backend/src/queries/permissionService.ts
  backend/src/queries/userService.ts
  backend/src/routes/permissionRouter.ts
  backend/src/routes/userRouter.ts
  backend/src/utils/constants/types.ts
  backend/src/utils/types/permissions.ts
  backend/src/utils/types/role.ts
  backend/src/utils/types/user.ts
  backend/tests/routes/movieService.test.ts
  backend/tests/routes/movieService.ts
  backend/tests/routes/userService.test.ts
  backend/tests/utils/setupEnvironment.ts
Due: eslint

fix: test fix1
  backend/tests/utils/setupEnvironment.ts
Due: eslint

fix: test fix2
  backend/src/controller/authController.ts
  backend/tests/routes/movieService.ts
  backend/tests/routes/userService.test.ts
Due: eslint

fix: test fix
  backend/tests/routes/userService.test.ts
Due: eslint

Path conditions:
  eslint: any of: **/*.{ts,tsx,js,jsx}
  prettier: any of: **/*.{md,yml,json,babelrc,eslintrc,prettierrc}
